<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="div1">
    <li v-for="i in list">{{ name + i }}<h1> 3433 <span>{{ name }}</span></h1><h2>222</h2>{{ name  }} 555</li>
    <input v-model="name">
</div>
<script src="vue.js"></script>
<script>
    var vue = new Vue({
        el: "#div1",
        data: {
            name: "kelen",
            list: [ 1, 2 ]
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }

    })

    /*for (var i = 0; i < 1000; i++) {
        vue.$data.list.push(Math.random());
    }*/
</script>
</body>
</html>